.volume_container {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
.volume_container input {
  width: 15rem;
  border-radius: 2rem;
  height: 0.5rem;
}
@media (max-width: 480px) {
  .volume_container {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .volume_container {
    display: none;
  }
}
