.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 5.1vh;
  position: sticky;
  top: 0;
  transition: 0.3s ease-in-out;
  background: rgba(207, 219, 254, 0.58);
  backdrop-filter: blur(7.3px);
  z-index: 1;
}
.search_bar {
  background-color: white;
  width: 30%;
  padding: 0.4rem 1rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.search_bar input {
  border: none;
  height: 2rem;
  width: 100%;
}
.search_bar input:focus {
  outline: none;
}
.profile_pic {
  background-color: black;
  padding: 0.3rem 0.4rem;
  padding-right: 1rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_pic a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.profile_pic a svg {
  font-size: 1.3rem;
  background-color: #282828;
  padding: 0.2rem;
  border-radius: 1rem;
  color: #c7c5c5;
}
