.sidebar_container {
  background-color: rgb(255, 255, 255);
  color: #000000;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.sidebar_contents {
  display: flex;
  flex-direction: column;
}
.sidebar_contents .logo {
  font-family: 'Kenia', cursive;
  text-align: center;
}
.sidebar_contents .logo h1 {
  font-size: 3rem;
  max-inline-size: 100%;
  margin: 0;
  padding: 1rem;
  color: #005cc8;
}
.sidebar_contents .sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}
.sidebar_contents .sid-ele {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0rem 2rem;
  background-color: whitesmoke;
  border-radius: 1rem;
  gap: 1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.sidebar_contents .sid-ele .current {
  color: #005cc8;
}

.sidebar_contents .sid-ele:hover {
  color: #005cc8;
}
@media (max-width: 480px) {
  .sidebar_container {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
.sidebar_container {
    display: none;
  }
}
/* @media (min-width: 768px) and (max-width: 1024px){
  .sidebar_container {
    display: none;
  }
} */